.widget-product-grid {
    display: flex !important;
    button {
        background: transparent;
        padding: 5px;
    }
    .product-item .price-box {
        margin: 10px 0 15px;
        .price-label {
            display: none;
        }
    }

}